@cellheight: 30px;
@cellwidth: 100px;

.tablebox {
	font-family: monospace;
  height: 400px;
  width: 400px;
}
.datacell {
  height: @cellheight;
  width: @cellwidth;
}
.errorresponse {
  color: red,
}