<!DOCTYPE html>
<html lang="en-US">
<head>
	<script src="js/bundle.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div ng-app="inputModule" ng-controller="inputController">
	<form name="headerForm">
		<div class="row" ng-repeat="row in inputRows">
	 		<input class="datacell" type="text" default-value="cell.value" ng-model="cell.value" ng-repeat="cell in row">
	 	</div>
 		<button ng-click="addColumn()">add column</button>
 		<button ng-click="removeColumn()">remove column</button>
 		<button ng-click="addRow()">add row</button>
 		<button ng-click="removeRow()">remove row</button>
 		<button ng-click="submitCells()">Generate Table</button>
 	</form>
 	<div>
 		<textarea class="tablebox" ng-class="{'errorresponse':errorResponse}" readonly>{{textAreaVal}}</textarea>
 	</div>
  <div>
    <a href="http://www.github.com/macklevine">by Mack Levine</a>
  </div>
</div>

</body>
</html>