<div class="row">
	<div class="col-xs-12">
	<form name="headerForm">
		<div class="row" ng-repeat="row in inputRows">
			<input class="datacell" type="text" default-value="cell.value" ng-model="cell.value" ng-repeat="cell in row">
		</div>
		<button class="btn btn-success" ng-click="addColumn()">add column</button>
		<button class="btn btn-success" ng-click="removeColumn()">remove column</button>
		<button class="btn btn-success" ng-click="addRow()">add row</button>
		<button class="btn btn-success" ng-click="removeRow()">remove row</button>
		<button class="btn btn-success" ng-click="submitCells()">Generate Table</button>
	</form>
	</div>
	<div class="col-xs-12">
		<textarea style="font-family:monospace" class="tablebox" ng-class="{'errorresponse':errorResponse}" readonly>{{textAreaVal}}</textarea>
	</div>
</div>