
<form name="headerForm">
	<div class="row" ng-repeat="row in inputRows">
		<input class="datacell" type="text" default-value="cell.value" ng-model="cell.value" ng-repeat="cell in row">
	</div>
	<button ng-click="addColumn()">add column</button>
	<button ng-click="removeColumn()">remove column</button>
	<button ng-click="addRow()">add row</button>
	<button ng-click="removeRow()">remove row</button>
	<button ng-click="submitCells()">Generate Table</button>
</form>
<div>
	<textarea class="tablebox" ng-class="{'errorresponse':errorResponse}" readonly>{{textAreaVal}}</textarea>
</div>